<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        | Etajna Sobstvenost Manager
body
    header
        nav
            include navigation.pug
    main
        block contents
    footer
        | Etajna Sobstvenost Manager 2017 team Eternal Dependency