body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.navbar {
    margin-bottom: 0px;
}

.page-footer {
    background-color: gray;
}

.highlight-row:nth-child(odd) {
    background-color: white;
}

.highlight-row:nth-child(even) {
    background-color: lightgray;
}

.highlight-row:hover {
    background-color: lightblue;
}

input,select {
    max-width: 30ch;
}

button {
    margin: 10px;
}

.feeContainer {
	border: 1px solid black;
	border-radius : 2em;
} 

.regRequests {
	border: 1px solid black;
	border-radius : 2em;
}

.jumbotron {
	padding: 0px;
	height: 100vh;
	background: url("/public/images/Drujbai-jumbotron.jpg") center center;  
}

.list-group-item {
	text-align: center;
}

.list-group-item>:first-child {
	float: left;
}

p.approve {
	float:right;
	margin-bottom: 0;
}

p.reject {
	float:right;
	margin-bottom: 0;
}

.expensesContainer {
	border: 1px solid black;
	border-radius : 2em;
}

.l-col {
	float:left;
}

.c-col {
	padding-left: 20%;
}

.r-col {
	float:right;
}

.list-group>li {
	float: left;
	display: block;
}

.sendMutri {
	margin-top: 0px;
	margin-bottom: 0px;
} 

requestRow {
	height:10px;
}

form div.row {
	  font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin-top: 10px;
}  

.jumbotron>.container>.row {
	vertical-align: top;
	 margin-top: 0%;
	 color: transparent;
	  -webkit-text-stroke-color: black;
	  -webkit-text-stroke-width: 1px;
	 background-color: transparent;
 }

#jquery-loader.blue-with-image-2{
	border:none;
	padding-top:35px;
	background-color: transparent;
	text-align: center;
	background-image: url(/public/images/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

