body {
	font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.page-footer {
    background-color: gray;
}

.highlight-row:nth-child(odd) {
    background-color: white;
}

.highlight-row:nth-child(even) {
    background-color: lightgray;
}

.highlight-row:hover {
    background-color: lightblue;
}

input,select {
    max-width: 30ch;
}

button {
    margin: 10px;
}

.jumbotron {
	height: 600px;
	background: url("/public/images/Drujbai-jumbotron.jpg") center center;
}

  form div.row {
	  font-family: "Comic Sans MS", "Comic Sans", cursive;
	margin-top: 10px;
}  

#jquery-loader.blue-with-image-2{
	border:none;
	padding-top:35px;
	background-color: transparent;
	text-align: center;
	background-image: url(/public/images/ajax-loader.gif);
	background-position: center center;
	background-repeat: no-repeat;
}

