extends common/container
block contents
    h1
        | Admin panel
    div
        div Requests
        div
            each request in requests
                div
                    | #{request.number}
                div
                    | #{request.username}
                div
                    a.approve(href="/approve-request/"+request._id)
                        | Approve
                    a.reject(href="/reject-request/"+request._id)
                        | Reject
            else 
                | Currently there are no pending registration requests.