extends common/container
block contents

    div.newExpenseContainer.container.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
        h1
            | New expense
        form#create(method="POST" class="form-horizontal")
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                label(for="name" class="control-label col-xs-2") Name:
                input#name(type="text" name="name" class="form-control" required placeholder="Name")
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                label(for="cost" class="control-label col-xs-2") Cost:
                input#cost(type="number" class="form-control" step="0.01" min="0" required name="cost" placeholder="Cost")
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                label(for="description" class="control-label col-xs-2") Description:
                textarea#description(name="description" class="form-control" rows="2" placeholder="Expense description")
            div.form-group.visible-lg.visible-md.visible-sm.visible-xs.col-lg-12.col-md-12.col-sm-12.col-xs-12
                button.createExpense(type="submit") Create
block footer
    script
        | System.import("createExpense");