extends common/container
block contents
    h1.row
        span.hidden-xs All 
        | Expenses
    h2.row
        | Pending 
        span.hidden-xs Expenses
    div.panel.panel-default
            each expense in pending
                div.list-group
                    a.list-group-item(href="/expenses/" + expense._id)
                        span.l-col
                            | #{expense.name} 
                        span.r-col
                            | Payment Cost: 
                            | #{expense.cost}
    h2.row
        | Completed 
        span.hidden-xs Expenses
    div.panel.panel-default
            each expense in completed
                div.list-group
                    a.list-group-item(href="/expenses/" + expense._id)
                        span.l-col
                            | #{expense.name} 
                        span.r-col
                            | Payment Cost: 
                            | #{expense.cost}
