extends common/container
block contents
    h1.row
        | Login
    div
        form#login(method="POST")
            div.row
                label.hidden-xs Username:
                input.form-control.username(type="text" name="username" placeholder="Username")
            div.row
                label.hidden-xs Password:
                input.form-control.password(type="password" name="password" placeholder="Password")
            div.row
                button.btn.btn-success.login(type="submit") Login
block footer
    script
        | System.import("login");