extends common/container
block contents
    h1
        | Login
    div
        form#login(method="POST")
            div
                label Username:
                input.username(type="text" name="username" placeholder="Username")
            div
                label Password:
                input.password(type="password" name="password" placeholder="Password")
            div
                button.login(type="submit") Login
block footer
    script
        | System.import("login");