extends common/container
block head_scripts
    link(rel="stylesheet" type="text/css" href="/libs/toastr/build/toastr.css")
block contents
    h1
        | My Apartment
    table#fees
        tr
            th
                | Not Paid Month
            th
                | Cost
            th
                | Pay Now
    table#expenses
        tr
            th
                | Not Paid Expense
            th
                | Cost
            th
                | Pay Now
block footer
    script(src='/libs/toastr/build/toastr.min.js')
    script
        | System.import("myapartment");