extends common/container
block contents
    h1.row
        | My Apartment
    table#fees.table.table-striped.table-bordered.table-hover
        tr
            th
                | Not Paid Month
            th
                | Cost
            th
                | Pay Now
    table#expenses.table.table-striped.table-bordered.table-hover
        tr
            th
                | Not Paid Expense
            th
                | Cost
            th
                | Pay Now
block footer
    script
        | System.import("myapartment");