extends common/container
block head_scripts
    //- script(src='/public/scripts/my.apartment.js')
block contents
    h1
        | My Apartment
    table#fees
        tr
            th
                | Not Paid Month
            th
                | Cost
            th
                | Pay Now
    table#expenses
        tr
            th
                | Not Paid Expense
            th
                | Cost
            th
                | Pay Now
block footer
    script
        | System.import("myapartment");