extends common/container
block contents
    h1
        | Page of Shame
    ul
        each apartment in apartments
            li(data-aptnum=apartment.number)
                a(href = "/page-of-shame/" + apartment.id) Apartment #{apartment.number} 
                | - Total Debts : $ #{apartment.debt}
                if (loggedUser && loggedUser.type == 'admin' && apartment.debt > 1500)
                    button.sendMutri
                        | Send Mutri
block footer
    script
        | System.import("pageofshame");