extends common/container
block head_scripts
    link(rel="stylesheet" type="text/css" href="/libs/toastr/build/toastr.css")
block contents
    h1.row
        | Page of Shame
        
    div.panel.panel-default
        each apartment in apartments
            div.list-group
                a.list-group-item(href = "/page-of-shame/" + apartment.id) 
                        span.l-col.hidden-xs
                            if(apartment.number < 10)
                                | Apartment 0#{apartment.number}
                            else
                                | Apartment #{apartment.number}
                        span.l-col.visible-xs
                            | Apt. #{apartment.number} 
                        span.c-col.hidden-xs
                            | Total Debts: 
                            | #{apartment.debt}
                            if (loggedUser && loggedUser.type == 'admin' && apartment.debt > 1500)
                                button.sendMutri
                                    | Send Mutri
block footer
    script(src='/libs/toastr/build/toastr.min.js')
    script
        | System.import("pageofshame");

