extends common/container
block contents
    h1
        | Page of Shame
    ul
        each apartment in apartments
            li
                a(href = "/page-of-shame/" + apartment.id) Apartment #{apartment.number} 
                | - Total Debts : $ #{apartment.debt}
                    
