extends common/container
block contents
    h1.row
        | Register
    div
        form#registration(method="POST")
            div.row
                label.hidden-xs Appartment number:
                label.visible-xs Apt. No:
                select.form-control(name="appartment_id")
                    each unregisteredAppartment in unregisteredAppartments
                        option(value=unregisteredAppartment._id) 
                            | #{unregisteredAppartment.number}
            div.row
                label.hidden-xs Username:
                input.form-control.username(type="text" name="username" placeholder="Username")
            div.row
                label.hidden-xs Password:
                input.form-control.password(type="password" name="password" placeholder="Password")
            div.row
                button.register.btn.btn-success(type="submit") Request registration
            div 
                | Please note that your registration must 
                | be approved by the manager before you can login
block footer
    script
        | System.import("register");