<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    title 
        | Etajna Sobstvenost Manager
    script(src='/libs/jquery/dist/jquery.min.js')
    block head_scripts
body
    header
        nav
            include navigation.pug
        div
            != messages()
    main
        block contents
    footer
        | Etajna Sobstvenost Manager 2017 team Eternal Dependency
    script(src='/libs/systemjs/dist/system.js')
    script(src='/public/scripts/system.config.js')
    block footer