<!DOCTYPE html>
html(lang="en")
head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible" content="ie=edge")
    link(rel="stylesheet" type="text/css" href="/libs/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" type="text/css" href="/public/css/main.css")
    title 
        | Etajna Sobstvenost Manager
    script(src='/libs/jquery/dist/jquery.min.js')
    script(src='/public/scripts/plugins/jquery.loader.js')
    block head_scripts
body
    header
        nav.navbar.navbar-inverse
            include navigation.pug
        div
            != messages()
    main.container
        block contents
    footer.footer.navbar-fixed-bottom
        | Etajna Sobstvenost Manager 2017 team Eternal Dependency
    script(src='/libs/systemjs/dist/system.js')
    script(src='/public/scripts/system.config.js')
    script(src='/libs/bootstrap/dist/js/bootstrap.min.js')
    block footer