ul
    li
        a(href="/") Home
    li
        a(href="/page-of-shame") Page of Shame
    li
        a(href="/current-expenses") Expenses
    li
        a(href="/sign-up") Sign Up
    li
        a(href="/login") Login
        